<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Library</h1>

<article>
    <h2>Our catalogue</h2>

    <div class="book_box">
    {% for book in library_book_list %}
    <div class="book">
        <p>{{ book.title }} <br>by {{ book.author }}</p>
        <a href="/library/{{book.title}}">See details</a>
    </div>

    {% endfor %}
    </div>
</article>

<h2>Donate a Book</h2>
    <form action="/library" method="post">
        <label for="title-box">Title</label>
        <input name="title" id="title-box">
        <label for="author-box">Author</label>
        <input name="author" id="author-box">
        <label for="genre-box">Genre</label>
        <input name="genre" id="genre-box">
        <input type="submit" value="Add Book">
    </form>

<h2>Remove a Book</h2>
    <form action="/library/remove" method="post">
        <label for="select-box">Remove a book:</label>
        <select name="title" id="select-box">
        <option value = "">-- choose a book to remove --</option>
        {% for book in library_book_list %}
        <option value="{{book.title}}">{{book.title}}</option>
        {% endfor %}
        </select>
       <input type="submit" value="Remove Book">
    </form>
</body>
</html>