<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>

<a href="/library">Library</a>

<p>our books are:</p>
    {% for book in library_book_list %}

    <p>{{ book.title }} by {{ book.author }}, {{ book.genre }}</p>
    <a href="/library/{{book.title}}">Tell me more!!</a>

    {% endfor %}

    <form action="/library" method="post">
        <label for="title-box">Title</label>
        <input name="title" id="title-box">
        <label for="author-box">Author</label>
        <input name="author" id="author-box">
        <label for="genre-box">Genre</label>
        <input name="genre" id="genre-box">
        <input type="submit" value="Add Book to Library">
    </form>
</body>
</html>